<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Exercise2</title>
    <script src="angular.js"></script>
    <script src="bootstrap.js"></script>

    <script src="controllers.js"></script>
</head>

<body>
    <div ng-controller='timeController'>
        <div>{{time}}</div>
        <button ng-click="currentTime()">Current Time</button>
    </div>
    <div ng-controller='nameController'>
        <div>{{name}}</div>
        <button ng-click="reverseName()">Reverse Name</button>
    </div>
</body>

</html>